.alert-container {
  display: none;
}
#login-form {
  text-align: center;
}
#login-form .form-group button {
  width: 100%;
}

#login-form h1 {
  color: #555753;
}

#login-form a {
  font-size: 120%;
}